:root {
  --default-padding: 1rem;
  --small-padding: 0.5rem;
  --default-radius: 0.4rem;
  --small-radius: 0.2rem;
  --color: rgb(3, 104, 192);
  --textColor: #fff;
  --bgColor: var(--textColor);
}
body {
  background: rgb(0, 0, 174);
}
input {
  border-radius: var(--small-radius);
  padding: var(--small-padding);
  color: rgb(0, 32, 128);
  border: 1px solid;
  outline: none;
}
::placeholder {
  color: rgb(156, 156, 156);
}
label {
  cursor: pointer;
  margin-block: var(--default-padding);
}
.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-registration {
  padding: var(--default-padding);
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 3rem;
}
.form-wrapper {
  width: 400px;
  background-color: var(--bgColor);
  border-radius: var(--small-radius);
}
.header {
  color: var(--textColor);
}
.btn-submit {
  margin-top: var(--default-padding);
  padding: var(--small-padding);
  background-color: rgb(26, 168, 26);
  color: var(--white);
  font-size: 1rem;
  border-style: none;
  border-radius: var(--small-radius);
  display: block;
  margin-top: 20px;
}
.btn-submit:disabled {
  background-color: gray;
}
.match {
  display: block;
  color: green;
}
.no-match {
  display: block;
  color: red;
}
